body{
  margin: 0;
  font-family: "Lucida Grnande";
}

header {
  width: 100%;
  height: 65px;
  background-color: orange;
  position:fixed;
  top:0;
  z-index:10;
  opacity: 0.7;
}
.symbol{
   padding-left: 15px;
   padding-top: 5px;
   float: left;
}

li{
  list-style: none;
}

.header-left .header-right{
	float:right;
	padding-bottom: 15px;

}

.header-right li{
  float: right;
  font-size: 15px;
  color: white;
  font-weight: normal;
  padding: 25px 20px;
  }
.details{
	color: white;
}

.header-right ul{
	padding-bottom: 25px;
}
.main{
	height: 500px;
	width: 100%;
	background-image: url(https://www.firstnaukri.com/collegedir/index.php/MediaService/getCollegePhoto/colid/503e87da342996afc6b6e79e08c1750f78aed3bd2250a99e/curid/4709);
	background-size: cover;
	background-repeat: no-repeat;
}
.section-main{
    height: 400px;
    width: 100%;
}
.lesson {
  float: left;
  width: 14%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 75px;
  width: 100%;
  color: white;
  padding-left: 40px;
}
.lessons{
	width: 100%;
	padding-left: 27px;
	padding-top: 70px;
}
.lessons h2{
	margin-left: 12px;
	margin-right: 50px;
	font-family: "Times New Roman";
	border-bottom:2px solid black;
}
.brief h2{
   font-family:"Times New Roman";
   border-bottom:2px solid black;

}

.brief{
	margin: 50px;
}

.brief p{
	font-family: "Georgia";
}
footer{
	background-color: #DC143C;
	height: 200px;
	
}
.footer-main p{
	font-size: 13px;
	/*padding-bottom: 70px;*/

	padding-left: 40px;
	color: white;
	font-family: "Palatino Linotyte";
}
.material-icons{
	padding-top: 20px;
}

.logo {
	float: right;
	padding-top: 40px;
	padding-right: 15px;

}
